.modern-footer {
  background: #050505;
  padding: 8rem 0 2rem; 
  position: relative;
  overflow: hidden;
  z-index:1000;
  height: 100vh;
}

.footer-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  pointer-events: none;
}

.huge-title {
  display: flex;
  font-size: clamp(3rem, 10vw, 8rem); 
  font-weight: 900;
  color: rgba(255, 255, 255, 0.03); 
  text-transform: uppercase;
  letter-spacing: -2px;
  line-height: 0.8;
  border-bottom: 1px solid rgba(148, 230, 202, 0.05);
  margin-left:140px;
  
}

.huge-title span {
  display: inline-block;
  background: linear-gradient(to bottom, #333 0%, #111 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-content {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-icon {
  width:80px;
  height:80px;
  background: transparent;
  border: 2px solid #94e6ca;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-icon {
  color: #94e6ca;
  font-size:3rem;
}
.brand-text{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.name {
  font-weight: 600;
  letter-spacing: 2px;
  font-size:2rem;
}

.tagline {
  font-size: 0.8rem;
  opacity: 0.5;
}

.separator {
  color: #94e6ca;
  margin: 0 10px;
}

.modern-footer::before {
  content: '';
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  height: 200px;
  background: radial-gradient(circle, rgba(148, 230, 202, 0.05) 0%, transparent 70%);
  pointer-events: none;
}
.react-icon{
  color: #61dafb;
  font-size:2rem;
}

@media (max-width: 768px) {
  
  .footer-main { flex-direction: column; gap: 2rem; text-align: center; margin-top: -30px;}
  .footer-brand { flex-direction: column; }
.huge-title {
  margin-left:30px;
  font-size:2.8rem;

}
.modern-footer{
  margin-top: -100px !important;
}
.brand-icon {
width: 50px;
height: 50px;
}
.name {
  font-size: 1.5rem;
}
.code-icon {
  font-size:1.5rem;
}
}