

.hero-container {
  display: flex;
  justify-content: space-between;
  gap:10px !important;
  margin-top:-50px !important;

}



.hero-leftt {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:1rem;
}

.abstract-art-container {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.shape-fragment {
  position: absolute;
  z-index: -1;
  filter: blur(40px);
  opacity: 0.4;
}

.fragment-1 {
  width: 300px;
  height: 300px;
  background: #94e6ca;
  top: -50px;
  left: -50px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.fragment-2 {
  width: 250px;
  height: 250px;
  background: rgba(255,255,255,0.1);
  bottom: -30px;
  right: -20px;
  border: 1px solid rgba(255,255,255,0.2);
}

.picasso-image-frame {
  width: 400px;
  height: 500px;
  background: #000;
  overflow: hidden;
  position: relative;
  box-shadow: 30px 30px 0px rgba(148, 230, 202, 0.05);
}

.hero-img-designer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  filter: blur(1.3px);
}

.picasso-image-frame:hover .hero-img-designer{
  transform: scale(1.1) rotate(1deg);
  filter: blur(0);
}


.designer-title-wrap {
  position: absolute;
  bottom: -40px;
  left: -20px;
  z-index:20;
}

.vertical-label {
  position: absolute;
  left: -50px;
  top: -350px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: 'Space Mono', monospace;
  font-size: 0.7rem;
  letter-spacing: 5px;
  color: #a8f5b9;
}

.abstract-dynamic-title {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-weight: 950;
  text-transform: uppercase;
  line-height: 0.9;
  background: linear-gradient(45deg, #ffffff 50%, #94e6ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 10px 20px rgba(255, 254, 254, 0.5));
  margin-top: -150px !important;
  animation: popLoop 2s ease-in-out infinite;
  opacity: 0.5 !important;
  transition: opacity 0.5s ease;
   
}


@keyframes popLoop {
  0% {
    transform: scale(1) translateY(0);
    opacity: 1;
    filter: blur(0);
  }
 
  50% {
    transform: scale(1.05) translateY(-5px);
    opacity: 1;
    filter: blur(0);
  }
 
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}



@media (max-width: 1200px) {
  .hero-container {
    flex-direction: column;
    gap: 8rem;
  }
  .hero-lleft {
    padding-left:40px;
    margin-top:50px;
    margin-bottom: 4rem;
  }
  .picasso-image-frame {
    width: 300px;
    height: 400px;
  }
}



.hero-right {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
  margin-right:80px;
}

.hero-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  pointer-events: none;
}

.hero-small-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgba(255,255,255,0.85);
  letter-spacing: 0.6px;
  margin: 0;
  padding-left: 6px;
  text-transform: none;
}






.orbit-wrapper {
  position: relative;
  width: 500px; 
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hero-text-inside-orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.hero-title-designer {
  display: flex;
  flex-direction: column;
  line-height: 0.8; 
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.hero-title-designer span {
  display: block;
  font-size: clamp(7rem, 8vw, 8rem);
  letter-spacing: -2px;
  background: linear-gradient(to bottom, #ffffff 40%, rgba(255,255,255,0.1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-middle {
  color: transparent !important;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.orbit-track {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbitt-spin 60s linear infinite;
}

@keyframes orbitt-spin {
  from {
    transform: scaleY(0.9) rotate(0deg);
  }
  to {
    transform: scaleY(0.9) rotate(360deg);
  }
}


.orbiting-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  margin: -27px; 
  font-size: 2rem;
  color: #e9ebea; 
  background: rgba(10, 25, 47, 0.8); 
  border: 1px solid rgba(100, 255, 218, 0.3);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(100, 255, 218, 0.1);
  transition: transform 0.3s ease, color 0.3s ease;
  
}

.orbiting-icon svg {
  animation: orbit-counter-spin 30s linear infinite;
  
  
}

.icon-1 { transform: rotate(0deg) translate(250px); }
.icon-2 { transform: rotate(30deg) translate(250px); }
.icon-3 { transform: rotate(60deg) translate(250px); }
.icon-4 { transform: rotate(90deg) translate(250px); }
.icon-5 { transform: rotate(120deg) translate(250px); }
.icon-6 { transform: rotate(150deg) translate(250px); }
.icon-7 { transform: rotate(180deg) translate(250px); }
.icon-8 { transform: rotate(210deg) translate(250px); }
.icon-9 { transform: rotate(240deg) translate(250px); }
.icon-10 { transform: rotate(270deg) translate(250px); }
.icon-11 { transform: rotate(300deg) translate(250px); }
.icon-12 { transform: rotate(330deg) translate(250px); }

@keyframes orbit-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes orbit-counter-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}




.button {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #94e6ca;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: rgb(250, 248, 248);
  z-index: 1;
}

.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color:#94e6ca;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button:hover {
  color: #0b0b0b;
  border: 1px solid #39bda7;
}

.button:hover:before {
  top: -35%;
  background-color:#94e6ca;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
  top: -45%;
  background-color: #39bda7;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



.hero-buttons {
  margin-top: -1rem;
  padding-bottom:200px !important;

}

.btn {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  background: #99efac;
  color: #000;
}

.arrow {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

@media (max-width: 968px) {
  .hero-left {
    position: relative !important;
    top: 0 !important;
    width: 100% !important;
    margin-bottom: 2rem !important;
  }

  .hero-right {
    padding-left: 40px;
    padding-bottom:300px !important;
    
  }

  .hero-title-designer span {
    font-size: clamp(4rem, 8vw, 6rem);
  }
}


@media (max-width: 768px) {
  .hero-section {
    min-height: auto !important;
    padding: 1rem !important;
    flex-direction: column !important;
    margin-top: 40px !important;
    margin-bottom: -300px !important;
  }

  .hero-container {
    flex-direction: column !important;
    gap: 2rem !important;
  }

  .hero-left {
   
    top: 0 !important;
    left:0px !important;
   
  }

 

  .profile-image {
    margin: 0 auto 1.5rem auto !important;
    height:300px !important;
  }

  .profile-img {
    height: 100% !important;
  }

  .profile-card-name {
    font-size: 1.5rem !important;
  }

  .profile-card-title {
    font-size: 1rem !important;
  }

  .profile-actions {
    flex-direction: column !important;
    gap: 0.8rem !important;
  }


  .hero-right {
    margin-left:-15px !important;
    max-width: 100% !important;
    text-align: center !important;
    gap: 1.5rem !important;
    margin-top:20px !important;
  }



  .hero-subtitle {
    font-size: .8rem !important;
    line-height: 1.5 !important;
    margin-top: 0 !important;
    padding: 0 0.5rem !important;
  }

  .hero-buttons {
    margin-top: 0;
    padding-bottom: 2rem !important;
  }

  .btn {
    padding: 0.9rem 2rem;
    font-size: 1rem;
  }

  .social-icons {
    gap: 0.8rem;
  }
  
  .social-link {
    width: 40px;
    height: 40px;
  }
  
  .social-icon {
    font-size: 1.1rem;
  }
}



@media (max-width: 768px) {
  .profile-actions {
    flex-direction: column !important;
    align-items: center !important;
    gap: 1rem !important;
    width: 100% !important;
  }

 

  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .hero-left {
    left: 8px !important;
  }

  .hero-right {
    margin-left: 12px !important;
    text-align: center !important;
  }

  .hero-small-title {
    text-align: center;
    width: 100%;
    font-size: 0.85rem !important;
  }
}

@media (max-width: 768px) {
  .hero-right {
    min-height: 350px; 
    margin-left: 0;    
    margin-top: 20px;
  }

  .orbit-wrapper {
    width: 300px;     
    height: 300px;
  }

 
  .icon-1 { transform: rotate(0deg) translate(120px); }
  .icon-2 { transform: rotate(30deg) translate(120px); }
  .icon-3 { transform: rotate(60deg) translate(120px); }
  .icon-4 { transform: rotate(90deg) translate(120px); }
  .icon-5 { transform: rotate(120deg) translate(120px); }
  .icon-6 { transform: rotate(150deg) translate(120px); }
  .icon-7 { transform: rotate(180deg) translate(120px); }
  .icon-8 { transform: rotate(210deg) translate(120px); }
  .icon-9 { transform: rotate(240deg) translate(120px); }
  .icon-10 { transform: rotate(270deg) translate(120px); }
  .icon-11 { transform: rotate(300deg) translate(120px); }
  .icon-12 { transform: rotate(330deg) translate(120px); }

  .orbiting-icon {
    width: 40px;     
    height: 40px;
    margin: -20px;    
    font-size: 1.2rem;
  }
  
  .hero-title {
    font-size:1rem !important; 
  }
}
