
.tools-section {
  padding: 120px 20px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-left:40px;
  margin-top: -30px;
  
}

.tools-container {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}



.animated-list-wrapper {
  position: relative;
  height:100%;
  width: 100%;
  margin: 0 auto;
  perspective: 1000px;

}





.tool-card:nth-child(odd):hover {
  animation: floatCard 3s ease-in-out infinite;
}

.tool-card:nth-child(even):hover {
  animation: floatCard 3s ease-in-out infinite 0.5s;
}