.portfolio-section {
  background: #000;
  padding: 80px 40px;
  margin-left: 530px; 
  width: calc(100% - 530px);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px !important;
  margin-top: -80px !important;
}

.header-designer-container {
  margin-bottom: 60px;
  position: relative;
  z-index: 5;
}

.projects-title-large {
  display: flex !important;
  flex-direction: column;
  font-size: clamp(4.2rem, 5vw, 4.2rem); 
  font-weight: 900;
  line-height: 0.82; 
  letter-spacing: -4px;
  margin: 0;
  text-transform: uppercase;
}

.line-one {
  color: #ffffff !important;
  display: block;
}

.line-two {
  display: block;
  color: transparent !important;
  -webkit-text-stroke: 2px #4ab677; 
  position: relative;
}

.github-calendar-container {
  padding: 30px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  max-width: fit-content;
}







.react-activity-calendar__footer,.react-activity-calendar__legend-month{
    color: #e3e2e2;
    margin-top: 20px;
}




@media (max-width: 968px) {
  .portfolio-section {
    margin-left: 0 !important;
    width: 100% !important;
  }
  
  .github-calendar-container {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  .portfolio-section h2 {
    font-size: 1.5rem;
    margin-top:100px;
    margin-left: 40px;
  }
  
  .github-calendar-container {
    padding: 1rem;
    width:300px !important;
    margin-left: 30px;
  }
   .react-activity-calendar__footer{
    font-size: 10px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
   
}
.react-activity-calendar__legend-month{
    font-size: 10px !important;
}
  
  
}